*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background: #233452;
}
.inbox{
    max-width: 400px;
    margin: 50px auto;
    background: #f0f8ff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
}
.item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
}
.item:last-child{
    border-bottom: 0;
}
input:checked + p{
    background: #f9f9f9;
    text-decoration: line-through;
}
input[type="checkbox"]{
    margin: 20px;
}
p{
    flex: 1;
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    font-size: 18px;
    font-weight: 200;
    border-left: 1px solid #d1e2ff;
}
.details{
    text-align: center;
    font-size: 15px;
}